.formContainer {
    background-image: url('../images/contact.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width: 500px) and (orientation: landscape) {
        height: 550px;
        background-size: contain;
        background-color: #101522;
    }


}

.contactForm {
    display: grid;
    z-index: 1;
    height: 860px;
    width: 100%;
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 24px;
    justify-content: center;

    @media (max-width: 500px) and (orientation: landscape) {
        height: 500px;

    }
}

.row {
    display: grid;
    gap: 2%;
    grid-auto-columns: minmax(auto, 1fr);
    align-items: center;
    grid-template-areas: ' . col3 ''col4  col1''col2  col1';

    @media screen and (max-width: 768px) {
        grid-template-areas: 'col3''col1''col4''col2''col5';
    }
}

.column3 {
    grid-area: col3;
}

.column {
    grid-area: col1;
}

.column2 {
    grid-area: col2;
}

.button {
    transition: all 0.2s ease-in-out;
    font: 18px Helvetica, Arial, sans-serif;
    border: none;
    background: gold;
    color: #fff;
    padding: 20px;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 5px;

    &:hover {
        background: #0e82d4;
        cursor: pointer;
    }
}

form {
    display: table;
    margin: 40px auto;
    padding: 0 60px 80px 40px;

    @media (max-width: 500px) and (orientation: landscape) {
        margin: 10px -150px 0 auto;
    }

    input,
    textarea {
        font: 18px Helvetica, Arial, sans-serif;
        box-sizing: border-box;
        display: block;
        border: none;
        padding: 20px;
        width: 300px;
        margin-bottom: 20px;
        font-size: 18px;
        outline: none;
        transition: all 0.2s ease-in-out;

        @media (max-width: 500px) and (orientation: landscape) {
            width: 250px;
            margin-bottom: 10px;
        }

        &::placeholder {
            transition: all 0.2s ease-in-out;
            color: #999;
            font: 18px Helvetica, Arial, sans-serif;
        }

        &:focus,
        &.populated {
            padding-top: 28px;
            padding-bottom: 12px;

            &::placeholder {
                color: transparent;
            }
        }
    }

    textarea {
        height: 200px;
    }

    button {
        transition: all 0.2s ease-in-out;
        font: 18px Helvetica, Arial, sans-serif;
        border: none;
        border-radius: 10px;
        background: gold;
        color: #fff;
        padding: 20px;
        width: 100%;
        filter: drop-shadow(0 0 0.75rem gold);
        transition: all 0.5s ease-in-out;
        text-transform: uppercase;
        letter-spacing: 5px;

        @media (max-width: 500px) and (orientation: landscape) {
            font-size: 14px;
            padding: 10px;
            margin-top: -10px;
        }

        &:hover {
            background: silver;
            color: #101522;
            cursor: pointer;
        }
    }
}