.formContainer {
    background-image: url('../images/contact.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -120px;

    @media (max-width: 1405px) {
        background-position: 0px -20px;
    }

    @media (max-width: 1045px) {
        background-position: -70px 0;
    }

    @media (max-width: 976px) {
        // background-size: 150%;
        background-position: -120px 0;
    }

    @media (max-width: 822px) {
        // background-size: 150%;
        background-position: -200px 0;
    }

    @media (max-width: 768px) {
        // background-size: 150%;
        background-position: -370px -120px;
    }

    @media (max-width: 692px) {
        // background-size: 150%;
        background-position: -420px -120px;
    }

    @media (max-width: 600px) {
        // background-size: 150%;
        background-position: -470px -120px;
    }

    @media (max-width: 500px) {
        // background-size: 150%;
        background-position: -510px -120px;
    }

    @media (max-width: 482px) {
        // background-size: 150%;
        background-position: -520px -120px;
    }

    @media (max-width: 500px) and (orientation: landscape) {
        height: 550px;
        background-size: contain;
        background-color: #101522;
    }


}

.contactForm {
    display: grid;
    z-index: 1;
    height: 860px;
    width: 100%;
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 24px;
    justify-content: center;

    @media (max-width: 500px) and (orientation: landscape) {
        height: 500px;
    }
}

.row {
    display: grid;
    gap: 2%;
    grid-auto-columns: minmax(auto, 1fr);
    align-items: center;
    grid-template-areas: ' . col3 ''col4  col1''col2  col1';

    @media screen and (max-width: 768px) {
        grid-template-areas: 'col3''col1''col4''col2''col5';
    }
}

.column3 {
    grid-area: col3;
}

.column {

    border-radius: 2px;
    box-shadow: inset 0em 0em 0.2em rgba($color: #000000, $alpha: 0.4), 0.2em 0.2em 0.2em rgba($color: #000000, $alpha: 0.4);
    grid-area: col1;

    h1 {
        padding-left: 20px;
    }

    @media (min-width: 1405px) {
        width: 120%;
    }
}

.column2 {
    grid-area: col2;
}

.button {
    transition: all 0.2s ease-in-out;
    font: 18px Helvetica, Arial, sans-serif;
    border: none;
    background: #1792E8;
    color: #fff;
    width: 80%;
    text-transform: uppercase;
    letter-spacing: 5px;

    &:hover {
        background: #0e82d4;
        cursor: pointer;
    }
}


form {
    display: table;

    padding: 0 30px 40px 20px;

    @media (max-width: 500px) and (orientation: landscape) {
        margin: 10px -150px 0 auto;
    }

    input,
    textarea {
        font: 18px Helvetica, Arial, sans-serif;
        box-sizing: border-box;
        display: block;
        border: none;
        padding: 0px;
        width: 100%;
        margin-bottom: 20px;
        font-size: 18px;
        outline: none;
        transition: all 0.2s ease-in-out;

        @media (max-width: 500px) and (orientation: landscape) {
            width: 250px;
            margin-bottom: 10px;
        }

        &::placeholder {
            transition: all 0.2s ease-in-out;
            color: #999;
            font: 18px Helvetica, Arial, sans-serif;
        }

        &:focus,
        &.populated {
            padding-top: 28px;
            padding-bottom: 12px;

            &::placeholder {
                color: transparent;
            }
        }
    }

    textarea {
        height: 200px;
    }

    button {
        transition: all 0.2s ease-in-out;
        font: 18px Helvetica, Arial, sans-serif;
        border: none;
        background: gold;
        border-radius: 10px;
        color: grey;
        padding: 10px;
        width: 100%;
        filter: drop-shadow(0 0 0.75rem gold);
        transition: all 0.5s ease-in-out;
        text-transform: uppercase;
        letter-spacing: 5px;

        @media (max-width: 500px) and (orientation: landscape) {
            font-size: 14px;
            padding: 10px;
            margin-top: -10px;
        }

        &:hover {
            filter: drop-shadow(0 0 0.75rem silver);
            background: silver;
            color: #fff;
            cursor: pointer;
        }
    }
}

.disabled {
    cursor: not-allowed;
    transition: all 0.2s ease-in-out;
    font: 18px Helvetica, Arial, sans-serif;
    border: none;
    background: #1792E8;
    color: #fff;
    padding: 20px;
    width: 80%;
    text-transform: uppercase;
    letter-spacing: 5px;

    &:hover {
        cursor: not-allowed;
        background: #0e82d4;
    }
}